 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

 #canvasVS {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-width: 100%;
 }

 img {
   display: none;
 }
